*, *:before, *:after {
  box-sizing:border-box;
}

body, html {
  padding:0;
  margin:0;
}

.main-header {
  background:#0092B2;
  padding:40px;
  color:white;
  border-bottom:10px solid #ddd;
  font-size:50px;
}

html, body {
  font-family: Verdana;
  font-size: 15px;
  margin:0;
  padding:0;
}

header {
  font-size:2rem;
  padding:10px;
}

.heading {
  margin:0;
  font-size:3rem;
  font-weight:normal;
}

.fields {
  display:flex;
  flex-flow: row wrap;
  padding:10px;
}

.heading {
  display:block;
}

.fields .field {
  position: relative;
  padding:10px;
  min-width:400px;
  flex:1;
}

.validity, .label, .details {
  display:table-cell;
  vertical-align:top;
  padding:20px;
}

.details {
  padding:10px;
}

.field > .input {
  padding:10px;
  width:100%;
  background:white;
  border:5px solid #ddd;
  position:relative;
  border-color:#ddd;
}

.field:hover > .input,
.field > .input:focus {
  border-color:#ccc;
}

.details > textarea.input {
  min-height:50px;
}

.label {
  cursor:pointer;
  color:#999;
  width:5%;
}

.validity {
  width:80px;
}

.label {
  font-size:2rem;
}

.input {
  font-size:1.5rem;
  border:0;
  background:transparent;
}

.input:focus {
  outline:0;
}

fieldset {
  border:0;
  padding:0;
}

button, .button {
  border:2px solid white;
  color:white;
  cursor:pointer;
  padding:0.8rem 2.5rem;
}

button:active, .button:active,
button:focus, .button:focus {
  outline:0;
}

button.secondary, .button.secondary {
  font-size:1.5rem;
  background:green;
}

button.primary, .button.primary {
  background:#0092B2;
  color:white;
  font-size:3rem;
  border:2px solid white;
}

.ng-submitted .input[class*="invalid"], .input.ng-touched[class*="invalid"] {
  color:maroon;
  background:#fee!important;
  border-color:maroon!important;
}

.input.ng-touched[class*="invalid"]:focus) {
  background:white;
}

.errors {
  color:maroon;
  margin-top:15px;
  font-size:25px;
}

.errors.ng-active:before {
  border:10px solid transparent;
  float:left;
  margin:5px;
  border-left-color:maroon;
  content:"";
  left:0;
}

.sectional {
  margin-top:50px;
  padding-top:50px;
  border-top:1px solid #eee;
}

nav.form-actions {
  padding-top:50px;
  border-top:5px solid #eee;
}

.loading {
  position:relative;
  color:#999;
  font-size:1.5rem;
  padding-left:50px;
  padding-top:5px;
}

.loading:after {
  border:3px solid white;
  border-left-color:green;
  border-right-color:green;
  content:"";
  width:30px;
  border-radius:50px;
  height:30px;
  position:absolute;
  z-index:1000;
  animation: rotate 0.5s infinite;
  -webkit-animation: rotate 0.5s infinite;
}

.field.loading:after {
  position:absolute;
  top:0;
  margin-top:25px;
  right:30px;
}

.field.loading .input {
  border-color:green;
}


@keyframes rotate {
  from { transform:rotate(0deg); }
  to { transform:rotate(360deg); }
}

@-webkit-keyframes rotate {
  from { -webkit-transform:rotate(0deg); }
  to { -webkit-transform:rotate(360deg); }
}

form.loading:before {
  content:"";
  position:fixed;
  top:0;
  left:0;
  bottom:0;
  z-index:500;
  right:0;
  background:rgba(100,100,100,0.5);
}

form.loading:after {
  content:"";
  position:absolute;
  top:20%;
  left:50%;
  margin-left:-50px;
  margin-top:-50px;
  border:20px solid transparent;
  border-left-color:white;
  border-right-color:white;
  width:100px;
  border-radius:150px;
  height:100px;
  animation: rotate 0.5s infinite;
  -webkit-animation: rotate 0.5s infinite;
}

.inline-form {
  border-top:2px dashed #ddd;
  display:flex;
}

.inline-form:nth-child(even) {
  background:#f9f9f9;
}

.inline-form .field {
  width:auto;
  max-width:600px;
  display:block;
  flex:1;
}

.fields .name-field {
  min-width:70%;
}

.heading {
  margin-bottom:10px;
  padding:0;
}

.fields + header {
  margin-top:50px;
  padding-top:50px;
  border-top:5px solid #eee;
}

textarea.input {
  height:400px;
}

.view {
  padding:2vw;
}

@media (max-width: 500px) {
  .fields {
    display:block;
  }
  .fields .field,
  .fields .field .input {
    max-width:auto!important;
    min-width:auto!important;
  }
  .main-footer nav {
    float:none;
  }
  .main-footer a { 
    display:block;
  }
}

button.primary, .button.primary {
  padding:20px;
  font-size:2rem;
}

.button {
  display:inline-block;
}

.email-fields {
  display:block;
}

.email-fields input {
  width:80%;
}

.email-fields .field {
  display:flex;
  width:100%;
  min-width:100%;
}

.main-footer {
  background:#222;
  border-top:10px solid #555;
  padding:40px;
  font-size:30px;
  overflow:auto;
}

.main-footer, .main-footer a {
  color:white;
  text-decoration:none;
}

.main-footer a + a {
  margin-left:50px;
}

.main-footer nav {
  float:right;
}
